$font-sub: 'Oswald', sans-serif;
$font-main: 'Myriad Pro', sans-serif;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
header {
  font-size: 0;
}
.navbar {
  border: none;
  margin-bottom: 0;
  background-color: #000000;
  border-radius: 0;
  .container {
    .row {
      .navbar-header {
        padding: 18px 0;
        a {
          @include max-screen(768px) {
            padding: 0 0 0 15px;
          }
          img {
            @include max-screen(768px) {
              width: 50px;
            }
          }
        }
        .navbar-toggle {
          margin-right: 0;
          border: none;
          &:hover {
            background-color: black;
          }
          .icon-bar {
            background-color: white;
          }
        }
        .navbar-brand {
          padding: 0;
          @include max-screen(768px) {
            padding: 9px 10px;
          }
        }
        .collapse {
          padding: 12px 0;
        }
      }
    }
      ul {
        width: 100%;
        text-align: center;
        li {
          a {
            font-family: $font-sub;
            font-size: 18px;
            color: #ffffff;
            &:hover {
              text-decoration: line-through;
              color: #ffffff;
            }
          }
        }
      }
    }
  }
.navbar-default {
  background-image: none;
}
.navbar-nav {
  margin: 0;
}
.vcenter {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
#back-top {
  position: fixed;
  bottom: 5%;
  right: 5%;
  padding: 0;
  z-index:99991;
}
#back-top a{
  font-size: 50px;
  line-height: 50px;
  display:block;
  color: #b8b8b8;
  text-decoration:none;
  -webkit-transition: all linear 0.2s;
  -moz-transition: all linear 0.2s;
  -ms-transition: all linear 0.2s;
  -o-transition: all linear 0.2s;
  transition: all linear 0.2s;
  text-align: center;
  @include max-screen(768px) {
    font-size: 30px;
    line-height: 30px;
  }
}

.price {
  border-top: solid 3px #ffffff;
  padding: 75px 15px 54px;
  background: #000000;
  .container {
    .row {
      h3 {
       text-transform: uppercase;
        color: #ffffff;
        font-size: 30px;
        font-family: $font-main;
        font-weight: bold;
      }
      .wrapper-img-price {
        width: 137px;
        height: 423px;
        img {
          width: 100%;
        }
      }
      .wrapper-price {
        color: #ffffff;
        font-size: 18px;
        font-family: $font-sub;
        margin-bottom: 50px;
        span {
          color: #ffffff;
          font-size: 30px;
          font-family: $font-main;
          font-weight: bold;
        }
        .hr-dashed {
          margin: 20px 0;
          padding: 0;
          height: 0;
          border: none;
          border-top: 2px dashed #ffffff!important;

        }
      }
    }
  }
}
