$font-main: 'Myriad Pro', sans-serif;
$font-sub: 'Oswald', sans-serif;

.specialists {
  padding-top: 90px;
  h3 {
    font-size: 30px;
    font-family: $font-main;
    text-transform: uppercase;
    margin-bottom: 86px;
  }
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 58px;
  }
  h4 {
    font-size: 18px;
    font-family: $font-sub;
  }
  &:after {
    content: "";
    display: block;
    width: 35%;
    border-bottom: 1px dashed black;
    padding-top: 186px;
  }
  &:after:last-of-type {
    content: "";
    display: block;
    border-bottom: none;
    padding-top: 186px;
  }
}
.last_block {
  &:after{
    content: "";
    display: block;
    border-bottom: none!important;
    padding-top: 186px;
  }
}