$font-main: 'Myriad Pro', sans-serif;
$font-sub: 'Oswald', sans-serif;
@mixin max-screen($res) {
  @media screen and (max-width: $res) {
    @content;
  }
}
.specialists {
  padding-top: 90px;
  @include max-screen (768px) {
    padding-top: 40px;
  }
  h3 {
    font-size: 30px;
    font-family: $font-main;
    text-transform: uppercase;
    margin-bottom: 86px;
    @include max-screen (768px) {
      margin-bottom: 40px;
    }
  }
  img {
    width: 100%;
    height: 100%;
    margin-bottom: 58px;
    @include max-screen (768px) {
      margin-bottom: 5px;
    }
  }
  h4 {
    font-size: 18px;
    font-family: $font-sub;
    margin-bottom: 56px;
    color: black;
    @include max-screen (768px) {
      margin-bottom: 30px;
    }
  }
  &:after {
    content: "";
    display: block;
    width: 40%;
    border-bottom: 1px dashed black;
    padding-top: 130px;
    @include max-screen (768px) {
      border-bottom: none;
      padding-top: 30px;
    }
  }
}
.last_block {
  &:after{
    content: "";
    display: block;
    border-bottom: none!important;
  }
}
.discount {
  background-color: black;
  padding-top: 100px;
  padding-bottom: 120px;
  h3 {
    max-width: 600px;
    width: 100%;
    font-size: 30px;
    color: white;
    font-family: $font-main;
    text-transform: uppercase;
    margin-bottom: 100px;
  }
  p {
    font-size: 18px;
    font-family: $font-sub;
    color: white;
    font-weight: 300;
  }
}
