$font-main: 'Myriad Pro', sans-serif;
$font-sub: 'Oswald', sans-serif;

.program {
  h3{
    font-family:$font-main ;
    font-size: 30px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
  }
  p {
    color: #000000;
    font-family: $font-sub;
    font-size:18px ;
  }

  .panel {
    box-shadow: none;
    border: none;
  }

  .panel-default > .panel-heading {
    background-image: none;
    color: #ffffff;
    background-color: #000000;
    border-color: #ffffff;
    border-top-left-radius: 0;
    border-top-right-radius: 0;


    a {
      color: #ffffff;
      text-decoration: none;
      font-size: 18px;
      font-family: $font-sub;
      display: flex;
      align-items: center;
      text-transform: uppercase;

      span {
        font-size: 48px;
        font-weight: 700;
        margin-right: 44px;
        font-family: $font-main;
      }

      &:hover,
      &:focus {
        color: #ffffff;
        text-decoration: none;
      }
    }
  }

}

/*.panel-default > .panel-heading{
  &:nth-of-type(2n){
    background-color: red;
  }
}
*/
.panel-body {
  padding-top: 35px;
  padding-bottom: 0;
  p{
    font-size: 18px;
    color: #000000;
  }

  .row {
    margin-bottom: 50px;
    padding-bottom: 0;
    margin-left: 15px;

    &:nth-of-type(2) {
      margin-bottom: 35px;
    }
  }
    .col-sm-3 {
      padding: 0;

      .foto-men {
        width: 212px;
        height: 212px;

        img {
          display: block;
          width: 100%;
          height: 100%;
        }
      }
    }

    .col-sm-2 {
      font-size: 40px;
      font-weight: bold;
      text-align: start;
      font-family: $font-main;
      color: #000000;
    }
    .col-sm-4{
      h6{
        font-size: 24px;
        font-family:$font-sub ;
        color: #000000;
      }
      p{
        font-size: 18px;
        font-family:$font-sub ;
        color: #000000;
      }
    }

    .col-sm-2, .col-sm-4 {
      padding-top: 32px;
    }
  }
